@keyframes anim {
  0% {
    text-shadow:
      0 0 0.5rem var(--title-color),
      0 0 1.5rem var(--title-color),
      0 0 3rem var(--title-color);
  }

  25% {
    text-shadow: 0 0 0.5rem var(--white-color), 0 0 1.5rem var(--white-color),;
  }

  50% {
    text-shadow: 0 0 0.5rem var(--border-color), 0 0 1.5rem var(--border-color),;
  }

  75% {
    text-shadow: 0 0 0.5rem var(--second-color), 0 0 1.5rem var(--second-color),;
  }

  100% {
    text-shadow: 0 0 0.5rem var(--background-color), 0 0 1.5rem var(--background-color),;
  }
}

h1 {
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
