h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  margin-top: 0;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  text-shadow: 0 0 0.5rem var(--title-color), 0 0 1.5rem var(--title-color), 0 0 3rem var(--title-color);
}

p {
  margin-top: 0;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

li {
  display: flex;
}
