h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  margin-top: 0;
  text-align: center;
}

h1{ 
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

li {
  display: flex;
}
