:root {
  --white-color: #fff;
  --orange-color: #ec5442;
  --orange-transparent: rgba(236, 82, 66, 0.8);
  --dark-color: #272a31;
  --grey-color: #d3d3d3;
  --dark-grey-color: #575757;
  --font-text: 'Lato', sans-serif;
  --font-title: 'COCOGOOSE', sans-serif;
}
