@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --white-color: #fff;
  --black-color: #000;
  --light-grey: rgba(192, 192, 192, 0.3);
  --title-color: #ffad01;
  --background-color:#280137;
  --second-color:#feb9e4;
  --border-color:#1F51FF;
  --font-text: 'Press Start 2P', cursive;
  --font-title: 'Press Start 2P', cursive;
}
