header {
  display: flex;
  margin: 3rem;
  text-align: center;

  @media all and (min-width: 768px) {
    text-align: left;
  }
}

h1 {
  align-self: center;
  justify-self: center;

  @media all and (min-width: 768px) {
    justify-self: flex-start;
  }
}
