.divRecentScores {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.divRecentScores div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ulRecentScores {
  border: 0.2rem solid var(--white-color);
  box-shadow: inset 0 0 0.5rem var(--border-color), 0 0 1rem var(--border-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.2rem;
  width: 100%;
}

.ulRecentScores li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  height: 2rem;
  border-radius: 1.2rem;

  p {
    line-height: 2rem;
    margin-top: 1rem;
    color: var(--white-color);
  }
}

.ulRecentScores li:nth-child(odd) {
  background-color: var(--light-cyan);
}

.ulRecentScores li:nth-child(even) {
  background-color: var(--light-grey);
}
